<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Title
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'site_css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'site_css/base.css' %}">

        <link rel="stylesheet" href="{% static 'menu_css/menu-styles.css' %}">
        <script src="{% static 'menu_scripts/menu-scripts.js' %}"></script>
        {% block links %}
            {# including menu_scripts and menu_css styles #}
        {% endblock %}
    </head>
    <body>
        {% block content %}
            {# Content #}
        {% endblock %}
    </body>
</html>